# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.idb
*.pdb
*.db
grassdx11/GrassDX11/.vs/GrassDX11/v16/.suo
*.opendb
*.ipch
*.db-shm
*.db-wal
*.ilk
*.cso
grassdx11/GrassDX11/Debug/
grassdx11/GrassDX11/Debug/GrassDX11.vcxproj.FileListAbsolute.txt
grassdx11/DirectXTex/Bin/Desktop_2019_Win10/Win32/Debug/DirectXTex_Desktop_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DirectXTex/Bin/Desktop_2019_Win10/x64/Profile/DirectXTex_Desktop_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DirectXTK/Bin/Desktop_2019_Win10/Win32/Debug/DirectXTK_Desktop_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DirectXTK/Bin/Desktop_2019_Win10/x64/Release/DirectXTK_Desktop_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DirectXTK/DirectXTK_Desktop_2019_Win10.vcxproj.user
grassdx11/DXUT/Core/Bin/Desktop_2017_Win10/Win32/Debug/DXUT_2017_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DXUT/Core/Bin/Desktop_2017_Win10/x64/Profile/DXUT_2017_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DXUT/Optional/Bin/Desktop_2017_Win10/Win32/Debug/DXUTOpt_2017_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DXUT/Optional/Bin/Desktop_2017_Win10/x64/Profile/DXUTOpt_2017_Win10.vcxproj.FileListAbsolute.txt
grassdx11/DXUT/Optional/DXUTOpt_2017_Win10.vcxproj.user
grassdx11/Effects11/Bin/Desktop_2019_Win10/Win32/Debug/Effects11_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/Effects11/Bin/Desktop_2019_Win10/Win32/Profile/Effects11_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/Effects11/Bin/Desktop_2019_Win10/x64/Profile/Effects11_2019_Win10.vcxproj.FileListAbsolute.txt
grassdx11/Effects11/Effects11_2019_Win10.vcxproj
grassdx11/Effects11/Effects11_2019_Win10.vcxproj.user
grassdx11/Effects11/Effects11_2019_Win10.vcxproj
grassdx11/Effects11/Effects11_2019_Win10.vcxproj
.vs